/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Primary */
  --clr-dark-cyan: 60, 94, 82;
  --clr-light-cyan: 85, 150, 131;
  --clr-cream: 235, 190, 145;
  /* Neutral */
  --very-dark-blue: 28, 32, 36;
  --dark-grayish-blue: 108, 111, 122;
  --white: 255, 255, 255;

  /* Border */
  --border-radius: 10px;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(10px + 2vmin);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
