.product {
  background-color: rgb(var(--clr-cream));
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-block: 1.75rem;
  padding-inline: 1rem;
}

@media (min-width: 736px) {
  .product {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: max-content;
    justify-content: center;
    align-content: center;
  }
}
